.__formbutton {
    outline: 0;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #73737333;
    color: white;
    border: 1px solid #404040cc;
    border-radius: .5rem;
    height: 2.5rem;
    box-sizing: content-box;
}