.__forminput {
    padding: 10px 0;
    border: 1px solid #404040cc;
    border-radius: .5rem;
    outline: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-right: .5rem;
    padding-left: 3rem;
    background-color: #40404033;
    box-sizing: content-box;
    color: white;
    font-family: "Poppins";
    resize: none;
}