.__input {
    width: 100%;
    min-height: 40px;
    padding: 8px;
    border: 1px solid rgb(225, 228, 232);
    box-sizing: border-box;
    outline: 0;
    color: black;
    font-family: "Roboto";
    font-size: 16px;
    resize: none;
}