.__bubble {
  padding: 24px;
  border: 1px solid rgb(25, 52, 78);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: rgb(30, 42, 66);
}

.__button {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 1px solid rgb(225, 228, 232);
  box-sizing: border-box;
  outline: 0;
  background-color: rgb(242, 242, 242);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.__button.default {
  color: black;
}
.__button.danger {
  color: rgb(156, 33, 33);
}
.__button:hover {
  color: rgb(0, 144, 255);
}
.__button:disabled {
  color: rgb(192, 192, 192);
  cursor: wait;
}

.__container {
  min-height: 100vh;
  background-color: rgb(18, 18, 18);
}

.__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.__formbutton {
  outline: 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgba(115, 115, 115, 0.2);
  color: white;
  border: 1px solid rgba(64, 64, 64, 0.8);
  border-radius: 0.5rem;
  height: 2.5rem;
  box-sizing: content-box;
}

.__forme {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.__formgroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.__formheading {
  margin: 0;
  color: white;
  font-family: "Roboto";
  font-size: 24px;
}

.__forminput {
  padding: 10px 0;
  border: 1px solid rgba(64, 64, 64, 0.8);
  border-radius: 0.5rem;
  outline: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 0.5rem;
  padding-left: 3rem;
  background-color: rgba(64, 64, 64, 0.2);
  box-sizing: content-box;
  color: white;
  font-family: "Poppins";
  resize: none;
}

.__formspan {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}

.__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.__heading {
  margin: 0;
  font-family: "Roboto";
}

h1.__heading {
  color: #e0423d;
  font-size: 32px;
  text-transform: uppercase;
}

h2.__heading {
  font-size: 16px;
}

.__input {
  width: 100%;
  min-height: 40px;
  padding: 8px;
  border: 1px solid rgb(225, 228, 232);
  box-sizing: border-box;
  outline: 0;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  resize: none;
}

.__navbar {
  background-color: rgb(33, 33, 69);
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}

.__navbar__navigation {
  width: min(100%, 1024px);
  padding: 24px;
}

.__navbar__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.__navbar__item {
  transition: color 0.25s;
}
.__navbar__item:hover {
  color: rgb(0, 144, 255);
}
.__navbar__item a {
  color: inherit;
  text-decoration: none;
}

.__overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.__overlay__content {
  width: min(100%, 480px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  border: 1px solid rgb(225, 228, 232);
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
}

.__overlay__heading {
  margin: 0;
}

.__overlay__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.__page {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}

.__page__container {
  width: min(100%, 1024px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__page__header {
  padding: 48px 0;
}

.__page__heading {
  max-width: 512px;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.__page__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.__popup {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.__popup__content {
  width: min(100%, 384px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border: 1px solid rgb(225, 228, 232);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(248, 248, 248);
  font-family: "Roboto";
}
.__popup__content a {
  color: black;
  text-decoration: none;
}
.__popup__content a:hover {
  color: rgb(0, 144, 255);
}

.__popup__item {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.__popup__separator {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid rgb(225, 228, 232);
}

.__table {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Roboto";
}

.__table__head {
  border: 1px solid rgb(225, 228, 232);
  background-color: rgb(242, 242, 242);
}

.__table__body {
  border: 1px solid rgb(225, 228, 232);
  border-top: 0;
}

.__table__row {
  display: grid;
  box-sizing: border-box;
}
.__table__row:nth-child(even) {
  background-color: rgb(242, 242, 242);
}
.__table__row:not(:last-child) {
  border-bottom: 1px solid rgb(225, 228, 232);
}

.__table__heading,
.__table__cell {
  min-height: 48px;
  padding: 0;
  padding-left: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
}
.__table__heading:not(:last-child),
.__table__cell:not(:last-child) {
  border-right: 1px solid rgb(225, 228, 232);
}
.__table__heading:not(:first-child),
.__table__cell:not(:first-child) {
  justify-content: center;
}
.__table__heading a,
.__table__heading span,
.__table__cell a,
.__table__cell span {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.__table__heading a:hover,
.__table__heading span:hover,
.__table__cell a:hover,
.__table__cell span:hover {
  color: rgb(0, 144, 255);
}

body {
  margin: 0;
  background-color: rgb(248, 248, 248);
}

/*# sourceMappingURL=index.css.map */
